<div class="container">

<h1 class="text-center mb-4">Teams</h1>
<div class="text-center mb-3">
  <h4 class="badge badge-info"><span class="h5">Team : Highlight</span></h4>
</div>

<table class="table table-bordered">
  <thead>
    <tr>
      <th>Team Details</th>
    </tr>
  </thead>

  <tbody>
    <% @teams.each do |team| %>
      <tr class="<%= (team == @min_diff) ? 'bg-info' : '' %>"  >
        <td><%= team %></td>
      </tr>
    <% end %>
  </tbody>
</table>

</div>
